.skillsBlock {
  background-color: #1f1f20;
  padding: 100px 0;


  .skillsContainer {
    justify-content: center;


    .skills {
      width: 100%;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      margin-top: 30px;
    }

    @media screen and (max-width: 1278px) {
      .skills {
        justify-content: space-around;
      }
    }
  }


}