@import "../../../common/styles/sass/variables";

.title {
  font-family: 'Josefin Sans', sans-serif;
  text-transform: capitalize;
  line-height: 1.2;
  letter-spacing: 5px;
  font-size: 16px;
  color: $textColor;
  position: relative;


  & h2 {
    font-weight: 400;
    margin: 0;
  }

}